
table {
    border-collapse: collapse;
    width: 50%;
}
th {
    color: #000;
    
}
th, td {
    border: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

td:first-child ,th:first-child{
    color: red;
}
td:last-child ,th:last-child{
    color: blue;
}
span{
    color:#000;
    font-size:20px;
}